# ---> C++
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

install
build
release
*.TMP
*.d
*.crf
*.hex
*.log
*.map
*.lnp
*.htm
*.axf
*.lst
*.bin
src/MDK-ARM/stm32bootloader/
src/MDK-ARM/RTE/
*.uvguix.*
